<!doctype html>
<html lang="en" ng-app="schedulerApp">

<head>
  <meta charset="utf-8">
  <title>Round-robin</title>
  <link rel="stylesheet" href="app.css" />
  <link rel="stylesheet" href="app.animations.css" />
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
  <script src="app.module.js"></script>
  <script src="app.config.js"></script>
  <script src="app.controller.js"></script>
  <script src="app.animations.js"></script>
  <script src="scheduler/scheduler.module.js"></script>
  <script src="scheduler/scheduler.component.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
</head>

<body>

  <div flex class="container" ng-controller="SchedulerController">
    <header layout="row" layout-align="center center">
      <h1 class="title">
        Simulador de Escalonamento por Round-Robin
      </h1>
    </header>
    <div layout="row" layout-align="space-around center">
      <div flex="50" layout="column" flex-layout="space-around center" class="machine-side">
        <span layout="row" layout-align="center center">Tempo: {{clock}}</span>
        <div class="processor" layout="row" layout-align="center center">
          <span ng-if="processor == null">Processador</span>
          <span ng-if="processor != null">{{processor}}</span>
        </div>
        <div class="queue" layout="row" layout-align="center center">
          <span ng-if="queue.length == 0">Fila</span>
          <ul ng-if="queue.length > 0">
            <li ng-repeat="process in queue track by process.name">
              {{process}}
            </li>
          </ul>
        </div>
        <div class="queue" layout="row" layout-align="center center">
          <span ng-if="done.length == 0">Processos finalizados</span>
          <ul>
            <li ng-repeat="process in done">
              {{process}}
            </li>
          </ul>
        </div>
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-success" ng-click="nextStep()" ng-disabled="!running || (processes.length == 0 && queue == 0 && processor == null)">Próxima etapa</md-button>
        </div>
      </div>
      <div flex layout="column" layout-align="space-around center" class="config-side">
        <header layout="column" layout-align="start center" flex class="quantum">
          <div>
            <form layout="row" layout-align="space-between center" name="quantumForm">
              <input placeholder="Quantum em ms" type="number" ng-model="quantum" ng-disabled="lockQuantum">
              <md-button class="md-primary md-raised" ng-click="defineQuantum()" ng-disabled="lockQuantum">Salvar</md-button>
            </form>
          </div>
          <div style="margin: 10px 0;">
            Memória disponível: <span>{{memoryLeft}}</span>
          </div>
        </header>
        <div layout="column" layout-align="space-between center" class="processes">
          <ul>
            <li style="margin-bottom: 10px;" ng-repeat="process in processes" layout="row" layout-align="center space-around">
              <span style="margin-right: 10px;">{{process.name}}:</span>
              <span style="margin-right: 10px;">Entrada: {{process.arrival}}</span>
              <span>Tempo: {{process.time}}</span>
              <span>Local: {{process.location}}</span>
            </li>
          </ul>
          <form layout="row" name="newProcessForm">
            <input class="new-process" type="number" ng-model="newProcess.arrival" placeholder="Momento de chegada">
            <input class="new-process" type="number" ng-model="newProcess.time" placeholder="Tempo do processo">
            <md-button class="md-primary md-raised" ng-disabled="newProcess.time > memoryLeft || running" ng-click="addProcess()">
              <md-icon>add</md-icon>
            </md-button>
            {{checkMemoryAvailable()}}
          </form>
          <md-button class="md-warn md-raised" ng-disabled="lockQuantum == false || processes.length == 0 || running" ng-click="init()">Iniciar</md-button>
          <span ng-if="newProcess.time > memoryLeft">Limite de memória excedido</span>
        </div>
      </div>
    </div>
  </div>

</body>

</html>